<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- Footer -->
<footer th:fragment="footer" class="py-4 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Репин Артём ПИ62 <br>2020</p>
    </div>
    <!-- /.container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript"  th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/js/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e9184998a5.js" crossorigin="anonymous"></script>
    <script type="text/javascript"  th:src="@{/js/ajaxScript.js}"></script>
</footer>

</html>